<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>飞凡微风生产系统信息变动平台</title>
    <script src="http://nres.ffan.com/newh5/2017622/859492a2f69283d6dc856a01516c288b7b533ac7.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body ng-app="app" ng-strict-di ng-cloak>
  <%= htmlWebpackPlugin.files.webpackManifest %>
    <app>
    </app>
  </body>
</html>
