{
  "presets": [
    "es2015","stage-3"
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "fancyui": {
          "transform": "fancyui/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}