<div id="footer-bar" style="position: fixed; bottom: 0; width: 100%;">
  <div class="container-fluid">
    <div class="footer">
      <div class="pull-right">
        <span>© 2017 Breeze | 微风系统</span>
        <span class="dot">·</span>
        <span>平台研发组</span>
        <span class="dot">·</span>
        <span ng-click="vm.goAbout()"><a href="javascript:;">关于系统</a></span>
        <span class="navbar-collapse collapse">
          <span class="dot">·</span>
          <span ng-click="vm.goLog()"><a href="javascript:;">更新日志</a></span>
          <span class="dot">·</span>
          <span ng-click="vm.openModal()"><a href="javascript:;">意见反馈</a></span>
        </span>
      </div>
    </div>
  </div>
</div>